<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>layout</title>
    <link href="layout.css"  rel="stylesheet">
    <link href="main2.css" rel="stylesheet">
    <link href="../nomalize.css rel=stylesheet">
</head>
<body style="margin:0px;">
    <div class="main-background">
    <h3 class="main-title">Buy our Shoes!</h3>
    <p class="sales-ment" id="sales-ment">이쁜 캔버스화 사러 ㄱㄱ링</p>
    <button class="link-button"><a href="https://abcmart.a-rt.com/?track=W0003&utm_source=google&utm_medium=cpc&utm_term=abc%EB%A7%88%ED%8A%B8&utm_campaign=sa_pc&gclid=CjwKCAjw682TBhATEiwA9crl38OcgM23kUfrVKjCfPYzTOW5KM78X8E5pkpP7A4WChyJLi0wFStxYRoCvhoQAvD_BwE&gclsrc=aw.ds" target="_blank" style="text-decoration:none; color:black;">신발 구매하러 가기</a></button>
    </div>

    <div class="text-box">
<h2 class="sub-text">How we design our shoes</h4>
    <p>Lorem blablar~~얼마나 글을 더 많이 길게 써야 반응형 %를쓰고 max px를 쓰는게 실험 가능할까요</p>
    </div>

    <div class="form">
        <form>

            <div class="w-100">
            <h1>Contact Us</h1>
            <p>Your Email</p>
            <input type="email" placeholder="2ckdaks@naver.com" class="form-input">
            </div>

            <div class="w-50">
                <p>first name</p>
                <input type="text" class="form-input">
            </div>
            <div class="w-50">
                <p>last name</p>
                <input type="text" class="form-input">
            </div>
            <div style="clear:both"></div>

            <div class="w-100">
                <p>message</p>
                <input type="text" class="form-input" style="height:200px">
            </div>

            <div class="w-100">
            <input id="sub" type="checkbox">
            <label for="sub">Subscribe</label>

            <button class="button">SEND</button>
            </div>
            <div style="clear:both"></div>

        </form>
    
    
    
    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>

    
</body>